[submodule "Ghibli-Subtudio/(1986) Tenkuu no Shiro Laputa"]
	path = Ghibli-Subtudio/(1986) Tenkuu no Shiro Laputa
	url = https://github.com/Good-Subs-Good-Anime-Vietsub/Tenkuu-no-Shiro-Laputa
	branch = main

[submodule "Monogatari Series/Bakemonogatari"]
	path = Monogatari Series/Bakemonogatari
	url = https://github.com/Good-Subs-Good-Anime-Vietsub/Bakemonogatari
	branch = main
